<div class="animated fadeIn">
  <div class="row">
		<div class="col-sm-6">
	  <div class="card">
	    <div class="card-header">
	      <strong>Create New Card to Trello</strong>
	    </div>
	    <div class="card-body">
	    	<form [formGroup]="basicForm" (ngSubmit)="checkLogIn()">
			    <div class="row">
			        <div class="col-sm-12">
			          <div class="form-group">
			            <label for="title">Title</label>
			            <input type="text" class="form-control" formControlName="title" id="title" placeholder="Enter your name">
			          </div>
			        </div>
			    </div><!--/.row-->
			    <div class="row">
			        <div class="col-sm-12">
			          <div class="form-group">
			            <label for="category">List</label>
			            <select class="form-control" formControlName="category" id="category">
				            <option *ngFor='let category of Category' value="{{category.value}}">
					            {{category.title}}
					        </option>
				        </select>
			          </div>
			        </div>
			    </div><!--/.row-->
			    <div class="row">
			        <div class="col-sm-12">
						<button type="submit" [disabled]="!basicForm.valid" class="btn btn-block btn-primary">Post</button>
			        </div>
			    </div>
			</form>
	    </div>
	  </div>
		</div>
		<div class="col-md-6">
			<app-list></app-list>
		</div>
	</div>
</div>
		<span *ngFor='let l of list'>{{l.name}}</span><br>